# OS
.DS_Store
Thumbs.db
.env

# VS Code local
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# Temporary exports
*.tmp
*.bak

# Heavy generated raw images - optional
03_Assets/ai_generated_raw/temp/
03_Assets/ai_generated_raw/_discarded/

# Final zip generated
06_Final_ZIP/*.zip
